h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: underline red wavy;
}

h3 {
    text-decoration: line-through;
    letter-spacing: 16px;
}

p {
    line-height: 2;
}

a {
    text-decoration: none;
}